<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drawing Pad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08BBA58B1C84D73B000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08BBA59F1C84D73B000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08BBA5AA1C84D73B000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
