<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Two Views.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>084B809E1C582AFA00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B80B21C582AFA00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B80BD1C582AFA00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
