<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Images - Stack View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>084B7FF01C4D9E7B00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B80041C4D9E7B00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B800F1C4D9E7B00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
