<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Images - Chicago.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>084B7F7C1C48BD2F00A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B7F901C48BD3000A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>084B7F9B1C48BD3000A1D514</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
