<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gesture Recognizers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08BBA4D91C7B7BA6000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08BBA4ED1C7B7BA6000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08BBA4F81C7B7BA6000D25CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
